.score-card {
  width: 200px;
  height: 50px;
  box-shadow: 1px 3px 1px lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: Ruda;
  font-weight: 600;
}
