.issue-create {
  width: 280px;
  height: 70px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-family: 'Roboto';
  
  &__title {
    margin: 0;
    font-weight: 300;
  }
}
