.accept-user-modal {
  font-family: 'Ruda';
  
  &__text {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  &__username {
    color: #66999b;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
