.page-game {
  display: flex;

  &__main {
    flex: 3;
    border-right: 1px solid lightgray;
  }
}

.page-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 40px 0;
}

.btn {
  border-color: #496A81;
  color: #2B3A67;
  text-shadow: 0 3px 3px rgba(0,0,0,0.25);
  text-transform: capitalize;
  font-weight: 700;
}