.member-card {
  width: 250px;
  height: 75px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  user-select: none;
  font-family: 'Roboto';
  font-style: normal;

  &__user {
    width: 85%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__info {
    flex-grow: 1;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    color: #ffffff;
    font-weight: bold;
    background-color: #60dabf;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;

    &--scram {
      border: 1px solid red;
    }

    &--player {
      border: 1px solid blue;
    }
  }

  &__title {
    font-size: 18px;
    margin: 0;
    font-weight: 300;
  }

  &__position {
    margin: 0;
    font-size: 10px;
    font-weight: 400;
  }
}
