.statistics {
  &__title {
    font-size: 24px;
    line-height: 30px;
    font-family: Ruda;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 14px;
  }

  &__results {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__percent {
    text-align: center;
    font-size: 23px;
    line-height: 30px;
    font-family: 'Ruda';
    font-weight: 700;
  }

  .game-card {
    width: 79px;
    height: 127px;

    &__title {
      font-size: 34px;
    }

    &__input {
      font-size: 14px;
    }
  }
}
