.issue-create {
  width: 250px;
  height: 48px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 10px;

  &__title {
    margin: 0;
  }
}