.add-game-card {
  width: 100px;
  height: 161px;
  border-radius: 10px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.add-game-card:hover {
  transform: scale(1.1);
}
