.issue {
  width: 250px;
  height: 55px;
  padding: 0 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &.active {
    background-color: #cbf3ea;
  }

  &__text {
    font-family: 'Roboto';
    font-style: normal;
  }

  &__text-current {
    position: absolute;
    top: 7px;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text-title {
    font-weight: 300;
    margin: 0;
  }

  &__text-priority {
    position: absolute;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
  }

  &__delete-btn {
    color: red;
  }
}

.page-game .issue__edit-btn {
  display: none;
}
