.members-list {
  font-family: 'Ruda';
  margin-bottom: 20px;

  &__title {
    font-weight: 700;
    text-align: center;
    font-size: 24px;
  }

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
  }
}
