.chat {
  padding: 20px;
  flex-grow: 1;

  &__field {
    flex-grow: 1;
  }

  &__text-wrapper {
    flex-grow: 1;
  }

  &__message-list {
    height: 60vh;
    flex-grow: 1;
    overflow-y: auto;
  }

  &__text {
    height: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    border-radius: 20px 0 0 20px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    word-break: break-all;
  }

  .member-card {
    width: 200px;
    height: 50px;

    &__avatar {
      width: 33px;
      height: 33px;
      font-size: 15px;
    }

    &__title {
      font-size: 18px;
    }

    &__position {
      font-size: 8px;
    }
  }

  &__message {
    &--system {
      .member-card {
        border-radius: 0;
      }

      .member-card__title {
        text-decoration: line-through;
      }

      .chat__text {
        border-radius: 0;
        text-transform: uppercase;
        text-decoration: underline;
      }
    }

    &--my {

      .member-card,
      .chat__text {
        background-color: #eeeeee;
      }
    }
  }
}
