.start-game {
  margin-bottom: 50px;

  &__scram-master {
    margin: 0;
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 12px;
  }

  &__to-lobby {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
  }

  &__link-block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 300;
    width: 276px;
    height: 47px;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0 10px;
  }

  &__btn {
    width: 189px;
    height: 47px;
    font-family: 'Ruda';
    font-size: 24px;
    font-weight: 700;
    text-transform: none;
  }

  &__copy {
    background-color: #2b3a67;
  }

  &__btn-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__cancel {
    color: #2b3a67;
    border: 1px solid #2b3a67;
  }

  &__btn-block-user {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
}
