.footer {
  width: 100%;
  padding: 15px 0;
  color: #fff;
  background-color: #2b3a67;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__developers-title {
    margin: 0;
    text-transform: uppercase;
  }

  &__developers-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__developers-link {
    color: inherit;
  }
}