html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.page {
  &__wrapper {
    max-width: 1000px;
    padding-left: 26px;
    padding-right: 26px;
    margin: 0 auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.btn {
  width: 250px;
  height: 50px;
  border: 1px solid #496a81;
  background-color: #2b3a67;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  font-family: 'Ruda';
  font-size: 24px;
  line-height: 30px;
  text-transform: initial;
  border-radius: 3px;
  transition: 0.6s;

  &:hover {
    background-color: #ffffff;
    color: #2b3a67;
  }

  &--small {
    width: 185px;
  }

  &--cancel {
    background-color: #ffffff;
    color: #2b3a67;

    &:hover {
      background-color: #2b3a67;
      color: #ffffff;
    }
  }

}
