.member-list {
  margin-bottom: 20px;

  &__title-box {
    display: flex;
    justify-content: center;
    gap: 150px;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Ruda';
    font-weight: 700;
    margin: 0;
  }

  &__items {
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .member-card {
    width: 200px;
    height: 50px;

    &__avatar {
      width: 33px;
      height: 33px;
      font-size: 15px;
    }

    &__title {
      font-size: 18px;
    }

    &__position {
      font-size: 8px;
    }
  }
}
