.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 161px;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px 0 #eee;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: all .2s;

  &:focus-visible {
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.37);

  }

  &--selected {
    background-color: #cbf3ea;
  }

  &__selected-bg {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__selected-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    path {
      fill: #60dabf;
    }
  }

  &__input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 24px;
  }

  &__input {
    font-size: 16px;
    width: 40px;
    height: 18px;
    border: none;
    outline: none;
    border: 1px solid rgba(238, 238, 238, 0);
    background-color: inherit;
    box-shadow: inset 1px 3px 5px 1px rgba(238, 238, 238, 0);
    border-radius: 3px;
    transition: all .2s;
    pointer-events: none;
  }

  &__input--edit {
    border-color:rgba(238, 238, 238, 1);
    box-shadow: inset 1px 3px 5px 1px rgba(238, 238, 238, 1);
    pointer-events: auto;
  }

  &__edit-btn {
    padding: 0;
  }

  &__title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
  }

  &__number {
    width: 100%;
    text-align: left;
    font-size: 16px;
    transform: rotate(180deg);
  }
}
