.reject-enter-modal {
  &__text {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
