.lobby-form {
  font-family: 'Roboto';

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__fields-wrapper {
    margin-bottom: 100px;
  }

  &__label {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }

  &__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    margin: 0;
  }

  &__group {
    margin-bottom: 10px;
  }

  &__field-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__field {
    width: 60%;
    height: 50px;
    padding: 10px;
    border: 1px solid #2b3a67;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0 10px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    flex-shrink: 0;

    &:focus {
      outline: none;
    }
  }

  &__error {
    color: #ff0000;
    margin: 0;
  }

  &__avatar {
    width: 83px;
    height: 83px;
    color: #ffffff;
    font-weight: bold;
    background-color: #60dabf;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-size: 48px;
    line-height: 56px;
  }

  .file-input__wrapper {
    width: 60%;
    margin-bottom: 10px;
  }
}

@media (max-width: 900px) {
  .lobby-form__title {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 600px) {
  .lobby-form__title {
    font-size: 23px;
    line-height: 33px;
  }
}
